.profile{
    background-color: white ;
    width: 400px;
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

 
}