.home{
    max-width: 953px;
    margin-top: 54px;
    padding-top: 30px;
    margin: 0 auto;
}

.modal__body{
    display: flex;
    text-align: center;
    flex-direction: column;
    .modal__logo{
        
        .modal__logoImage{
            width: 140px;
            height: 40px;
        }
    }
}